/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", sans-serif;
  --block-width: clamp(375px, 260.56px + 30.52vw, 700px);
  --title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-text-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --stroke-color: #ffffff;
  --contour-color: #000000;
  --animation-fill-color: red;
  --stripes-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
